.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    gap: 30px;
    padding: 20px;
}

@media screen and (max-width: 720px) {
    .controls {
        position: fixed;
        gap: 5px;
        min-height: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-top: 1px solid #fff;
        background: #181a1b;
        padding: 15px;
    }
}