.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.preloader-bar {
    width: 300px;
    height: 30px;
    background-color: #514b82;
    border: 2px solid #FFFFFF;
}

.preloader-bar-body {
    overflow: hidden;
    height: 30px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Segoe UI Emoji", serif;
    font-weight: 700;
}

.preloader-bar-body {
    transition: width 0.2s linear;
}
